body {
    font-family: 'sans-serif', Arial;
    ;
    background: #eeeeee;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}
.st-container {
    position: absolute;
    width: 100%;
    height: calc(100% - 70px);
    top: 75px;
    left: 0;
    font-family: 'sans-serif', Arial;
}
.st-container>input, .st-container>a {
    position: fixed;
    bottom: 0px;
    width: 11.11%;
    cursor: pointer;
    font-size: 11px;
    height: 34px;
    line-height: 34px;
    font-weight: lighter!important;
}
.st-container>input {
    opacity: 0;
    z-index: 1000;
}
.st-container>a {
    z-index: 10;
    font-weight: 700;
    background: #19318e;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(151, 24, 64, 0.2);
}
/* "Fix" for percentage rounding: add a background bar pseudo element with the same color like the labels */

.st-container:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 34px;
    background: #e23a6e;
    z-index: 9;
    bottom: 0;
}
#st-control-1, #st-control-1+a {
    left: 0;
}
#st-control-2, #st-control-2+a {
    left: 11.1111%;
}
#st-control-3, #st-control-3+a {
    left: 22.2222%;
}
#st-control-4, #st-control-4+a {
    left: 33.3333%;
}
#st-control-5, #st-control-5+a {
    left: 44.4444%;
}
#st-control-6, #st-control-6+a {
    left: 55.5555%;
}
#st-control-6-2, #st-control-6-2+a {
    left: 66.6666%;
}
#st-control-7, #st-control-7+a {
    left: 77.7777%;
}
#st-control-8, #st-control-8+a {
    left: 88.8888%;
}
.st-container>input:checked+a, .st-container>input:checked:hover+a {
    background: #4f93e0;
}
.st-container>input:checked+a:after, .st-container>input:checked:hover+a:after {
    bottom: 100%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #4f93e0;
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
}
.st-container>input:hover+a {
    background: #4d86c7;
}
.st-container>input:hover+a:after {
    border-bottom-color: #74ae43;
}
.st-scroll, .st-panel {
    position: relative;
    width: 100%;
    height: 100%;
}
.st-scroll {
    top: 0;
    left: 0;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    /* Let's enforce some hardware acceleration */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}
.panel-scroll {
    overflow: auto;
    height: calc(100% - 20px);
    padding: 20px;
    display: inline-block;
    width: 100%;
}
.st-panel img {
    width: 100%;
    height: calc(100% - 32px);
}
#st-control-1:checked~.st-scroll {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}
#st-control-2:checked~.st-scroll {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
#st-control-3:checked~.st-scroll {
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
}
#st-control-4:checked~.st-scroll {
    -webkit-transform: translateY(-300%);
    -moz-transform: translateY(-300%);
    -o-transform: translateY(-300%);
    -ms-transform: translateY(-300%);
    transform: translateY(-300%);
}
#st-control-5:checked~.st-scroll {
    -webkit-transform: translateY(-400%);
    -moz-transform: translateY(-400%);
    -o-transform: translateY(-400%);
    -ms-transform: translateY(-400%);
    transform: translateY(-400%);
}
#st-control-6:checked~.st-scroll {
    -webkit-transform: translateY(-500%);
    -moz-transform: translateY(-500%);
    -o-transform: translateY(-500%);
    -ms-transform: translateY(-500%);
    transform: translateY(-500%);
}
#st-control-6-2:checked~.st-scroll {
    -webkit-transform: translateY(-600%);
    -moz-transform: translateY(-600%);
    -o-transform: translateY(-600%);
    -ms-transform: translateY(-600%);
    transform: translateY(-600%);
}
#st-control-7:checked~.st-scroll {
    -webkit-transform: translateY(-700%);
    -moz-transform: translateY(-700%);
    -o-transform: translateY(-700%);
    -ms-transform: translateY(-700%);
    transform: translateY(-700%);
}
#st-control-8:checked~.st-scroll {
    -webkit-transform: translateY(-800%);
    -moz-transform: translateY(-800%);
    -o-transform: translateY(-800%);
    -ms-transform: translateY(-800%);
    transform: translateY(-800%);
}
/* Content elements */

.st-deco {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0;
    margin-left: 0;
}
.st-panel h2 {
    color: #5094df;
    position: relative;
    font-size: 1.5em;
    font-weight: 900;
    width: 100%;
    text-align: left;
    line-height: 50px;
    margin: 0;
    padding: 0;
    -webkit-backface-visibility: hidden;
}
#st-control-1:checked~.st-scroll #st-panel-1 h2, #st-control-2:checked~.st-scroll #st-panel-2 h2, #st-control-3:checked~.st-scroll #st-panel-3 h2, #st-control-4:checked~.st-scroll #st-panel-4 h2, #st-control-5:checked~.st-scroll #st-panel-5 h2, #st-control-6:checked~.st-scroll #st-panel-6 h2, #st-control-6-2:checked~.st-scroll #st-panel-6-2 h2, #st-control-7:checked~.st-scroll #st-panel-7 h2, #st-control-8:checked~.st-scroll #st-panel-8 h2 {
    -webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
@-webkit-keyframes moveDown {
    0% {
        -webkit-transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}
@-moz-keyframes moveDown {
    0% {
        -moz-transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(0px);
        opacity: 1;
    }
}
@-o-keyframes moveDown {
    0% {
        -o-transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        -o-transform: translateY(0px);
        opacity: 1;
    }
}
@-ms-keyframes moveDown {
    0% {
        -ms-transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        -ms-transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes moveDown {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.st-panel p {
    position: absolute;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    color: #8b8b8b;
    z-index: 2;
    padding: 0;
    width: 50%;
    left: 25%;
    top: 50%;
    margin: 10px 0 0 0;
    -webkit-backface-visibility: hidden;
}
#st-control-1:checked~.st-scroll #st-panel-1 p, #st-control-2:checked~.st-scroll #st-panel-2 p, #st-control-3:checked~.st-scroll #st-panel-3 p, #st-control-4:checked~.st-scroll #st-panel-4 p, #st-control-5:checked~.st-scroll #st-panel-5 p, #st-control-6:checked~.st-scroll #st-panel-6 p, #st-control-6-2:checked~.st-scroll #st-panel-6-2 p, #st-control-7:checked~.st-scroll #st-panel-7 p, #st-control-8:checked~.st-scroll #st-panel-8 p {
    -webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    -moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    -o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    -ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    animation: moveUp 0.6s ease-in-out 0.2s backwards;
}
@-webkit-keyframes moveUp {
    0% {
        -webkit-transform: translateY(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}
@-moz-keyframes moveUp {
    0% {
        -moz-transform: translateY(40px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(0px);
        opacity: 1;
    }
}
@-o-keyframes moveUp {
    0% {
        -o-transform: translateY(40px);
        opacity: 0;
    }
    100% {
        -o-transform: translateY(0px);
        opacity: 1;
    }
}
@-ms-keyframes moveUp {
    0% {
        -ms-transform: translateY(40px);
        opacity: 0;
    }
    100% {
        -ms-transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes moveUp {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
/* Colored sections */

.st-deco img {
    width: auto;
    margin: 40px auto;
    display: block;
    height: 80px;
}
.st-color {
    background: #b71f37;
}
.st-color [data-icon]:after {
    color: #fa96b5;
}
.st-color .st-deco {
    background: #fff;
}
.st-color h2 {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.st-color p {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}
/*modal light*/

#popup {
    visibility: hidden;
    opacity: 0;
    margin-top: -300px;
}
#popup:target {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 999;
    transition: all 1s;
    overflow: auto;
    display: flex;
}
.popup-contenedor {
    position: relative;
    margin: 3% auto;
    padding: 50px;
    background-color: #fafafa;
    color: #333;
    border-radius: 3px;
    width: 80%;
    display: flex;
    align-items: center;
}
.popup-contenedor h2 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #54812e;
    color: white;
    height: 50px;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 50px;
    font-family: sans-serif;
}
ul {
    list-style-image: url(../img/check.png);
}
ul li {
    font-family: sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
}
html, body {
    width: 100%;
    height: 100%;
    display: table;
}
.flx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}
.w10 {
    flex: 0 0 9%;
}
.w15 {
    flex: 0 0 14%;
}
.w20 {
    flex: 0 0 19%;
}
.w30 {
    flex: 0 0 29%;
}
.w40 {
    flex: 0 0 39%;
}
.w50 {
    flex: 0 0 49%;
}
.w60 {
    flex: 0 0 59%;
}
.w70 {
    flex: 0 0 69%;
}
.w80 {
    flex: 0 0 79%;
}
.w90 {
    flex: 0 0 89%;
}
.w100 {
    flex: 0 0 100%;
}
.w45 {
    flex: 0 0 45%;
    padding: 0 15px;
}
figure img {
    width: 100%;
}
/*tabs*/

/*
 CSS for the main interaction
*/

.tabset>input[type="radio"] {
    position: absolute;
    left: -200vw;
}
.popup-contenedor .tabset>.tab-panels>.tab-panel:first-child {
    display: block;
}
.tabset .tab-panel, .tabset>input:not(:checked)~.tab-panels>.tab-panel, .popup-contenedor .tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:first-child, .popup-contenedor .tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:first-child, .popup-contenedor .tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:first-child, .popup-contenedor .tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:first-child, .popup-contenedor .tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:first-child {
    display: none;
}
.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child, .tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2), .tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3), .tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4), .tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5), .tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
    display: block;
}
.tabset>label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
}
.tabset>label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
}
.tabset>label:hover, .tabset>input:focus+label {
    color: #dd1d30;
}
.tabset>label:hover::after, .tabset>input:focus+label::after, .tabset>input:checked+label::after {
    background: #dd1d30;
}
.popup-contenedor .tabset>input:checked+label, .popup-contenedor .tabset>input:checked+label.first {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}
.popup-contenedor .tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
}
/*end tabs*/

a.popup-cerrar {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #333;
    padding: 7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color: #fff;
}
.panel .fa {
    font-size: 4em;
    color: #b71f37;
}
.panel {
    text-align: center;
    padding: 20px;
    border: solid 1px #cacaca;
    background-color: rgba(255, 255, 255, 0.7);
}
.panel h4 {
    color: #b71f37;
    font-size: 1.5em;
    margin: 5px 0;
    padding: 0;
}
.panel p {
    display: block;
    text-align: center;
    position: relative;
    width: 100%;
    left: inherit;
    top: inherit;
    margin: 0;
}
.panel-body {
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 1px 1px #0000000f;
}
#st-panel-3 {
    position: relative;
}
.title {
    padding: 20px;
    width: 100%;
    background-color: #5094df;
    margin:0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    font-size: 20px;
    left: 0;
    top: 0;
    z-index: 2;
}
.breadcrumb {
    width: 100%;
    text-align: right;
    display: inline-block;
    ;
}
.breadcrumb>.active {
    color: #4f93e0;
}
form {
    width: 100%;
}
.form-group {
    border-bottom: dashed 1px #d5d5d5;
    padding-bottom: 15px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}
.total {
    background-color: #deeeff!important;
    border: none;
    margin-bottom: 0;
    font-weight: bold;
}
.total2 {
    margin-bottom: 0;
    font-weight: bold;
}
.total2 input {
    color: #000000;
}
.input-group-addon {
    color: #fff;
    background-color: #999999;
    border: none;
}
.form-control {
    height: 28px;
    text-align: right;
    font-size: 14px;
    padding: 8px;
    background-color: #ffffff;
    border: 1px solid #4f93e0;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #ebf9ea;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
    padding: 8px;
    text-align: right;
}
td:first-child, th:first-child {
    text-align: left!important;
}
.input-group-addon {
    padding: 3px;
    font-size: 11px;
    height: 17px;
    min-width: 52px;
    text-align: right;
}
.total input {
    background-color: transparent!important;
    border-radius: 0;
    border: none;
    box-shadow: none;
    text-align: right;
    color: #4f93e0;
    font-size: 13px;
}
hr {
    margin-top: 6px;
    margin-bottom: 6px;
    border: 0;
    border-top: 1px solid #e8e8e8;
    display: inline-block;
    width: 100%;
}
.autoW {
    min-width: inherit!important;
}
.alert {
    margin: 0 -20px 15px;
    width: calc(100% + 40px);
    background-color: #f1f1f1;
    border-radius: 0;
    flex: calc(100% + 40px);
    color: #4f93e0;
}
.alert2 {
    background-color: #54812e;
}
.alert .form-group, .total .form-group {
    padding: 0;
    margin: 0;
    border: none;
}
.title2 {
    padding: 20px;
    width: calc(100% + 40px);
    background-color: #54812e;
    margin: 40px -20px 20px;
    color: white;
}
thead, .thead {
    background-color: #18308f!important;
    color: white;
}
.italic {
    font-style: italic;
    font-family: serif;
}
/*---------------------- css para chart bars---------------------- */

.column-chart {
    position: relative;
    z-index: 20;
    bottom: 0;
    height: 320px;
    width: calc(100% - 8vw);
    margin-left: 8vw;
}
.column-chart:after {
    top: 50%;
}
.column-chart>.legend {
    position: absolute;
    z-index: -1;
    top: 0;
}
.column-chart>.legend.legend-left {
    left: -10vw;
    width: 8vw;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}
.column-chart>.legend.legend-left>.item {
    position: relative;
    width: 100%;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch
}
.column-chart>.legend.legend-left>.item>h4 {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-align: right;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
}
.column-chart>.chart {
    position: relative;
    z-index: 20;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.column-chart>.chart>.item {
    position: relative;
    height: 100%;
    width: 100%;
}
.column-chart>.legend.legend-left>.item:before {
    width: 85vw;
    position: absolute;
    height: 1px;
    border-bottom: dashed 1px #cccccc;
    content: '';
    left: 100%;
    top: calc(100% - 1px);
}
.column-chart>.chart>.item:before {
    position: absolute;
    z-index: -1;
    content: '';
    bottom: 0;
    left: 50%;
    width: 1px;
    height: calc(100% + 15px);
    border-right: 1px dashed #b4b4b5;
}
.column-chart>.chart>.item>.bar {
    position: absolute;
    bottom: 0;
    left: 3px;
    width: 94%;
    height: 100%;
}
.column-chart>.chart>.item>.bar>span.percent {
    display: block;
    position: absolute;
    z-index: 25;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 26px;
    line-height: 26px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.3);
}
.column-chart>.chart>.item>.bar>.item-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #38799f;
}
.column-chart>.chart>.item:nth-child(1)>.bar>.item-progress {
    background-color: #4ecdc4;
}
.column-chart>.chart>.item:nth-child(2)>.bar>.item-progress {
    background-color: #ff6b6b;
}
.column-chart>.chart>.item:nth-child(3)>.bar>.item-progress {
    background-color: #ffbe71;
}
.column-chart>.chart>.item:nth-child(4)>.bar>.item-progress {
    background-color: #5a99d7;
}
.column-chart>.chart>.item:nth-child(5)>.bar>.item-progress {
    background-color: #54812e;
}
.column-chart>.chart>.item:nth-child(6)>.bar>.item-progress {
    background-color: #97f464;
}
.column-chart>.chart>.item:nth-child(1)>.bar>.item-progress span.title {
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}
.column-chart>.chart>.item>.bar>.item-progress>span.title {
    position: absolute;
    display: block;
    top: calc(50% - 13px);
    left: 50%;
    font-size: 14px;
    padding: 0;
    background: transparent;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
/*--------------------fin chart bars --------------------------*/

/*---------------------- css para chart2 bars---------------------- */

.column-chart2 {
    position: relative;
    z-index: 20;
    bottom: 0;
    height: 140px;
    width: calc(100% - 40px);
    margin-left: 40px;
    margin-bottom: 30px;
}
.column-chart2:after {
    top: 50%;
}
.column-chart2>.legend {
    position: absolute;
    z-index: -1;
    top: 0;
}
.column-chart2>.legend.legend-left {
    left: -50px;
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}
.column-chart2>.legend.legend-left>.item2 {
    position: relative;
    width: 100%;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch
}
.column-chart2>.legend.legend-left>.item2>h4 {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: 11px;
    text-align: right;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
}
.column-chart2>.chart2 {
    position: relative;
    z-index: 20;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.column-chart2>.chart2>.item2 {
    position: relative;
    height: 100%;
    width: 100%;
}
.column-chart2>.legend.legend-left>.item2:before {
    width: 780%;
    position: absolute;
    height: 1px;
    border-bottom: dashed 1px #cccccc;
    content: '';
    left: 100%;
    top: calc(100% - 1px);
}
.column-chart2>.chart2>.item2:before {
    position: absolute;
    z-index: -1;
    content: '';
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    border-right: 1px dashed #b4b4b5;
}
.column-chart2>.chart2>.item2>.bar {
    position: absolute;
    bottom: 0;
    left: 3px;
    width: 94%;
    height: 100%;
}
.column-chart2>.chart2>.item2>.bar>span.percent {
    display: block;
    position: absolute;
    z-index: 25;
    bottom: -26px;
    left: 0;
    width: 100%;
    height: 26px;
    line-height: 26px;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    background-color: rgb(0, 0, 0);
}
.column-chart2>.chart2>.item2>.bar>.item-progress2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #38799f;
}
.column-chart2>.chart2>.item2:nth-child(1)>.bar>.item-progress2 {
    background-color: #4ecdc4;
}
.column-chart2>.chart2>.item2:nth-child(2)>.bar>.item-progress2 {
    background-color: #ff6b6b;
}
.column-chart2>.chart2>.item2:nth-child(3)>.bar>.item-progress2 {
    background-color: #ffbe71;
}
.column-chart2>.chart2>.item2:nth-child(1)>.bar>.item-progress2 span.title {
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}
.column-chart2>.chart2>.item2>.bar>.item-progress2>span.title {
    position: absolute;
    top: calc(50% - 13px);
    left: 50%;
    font-size: 14px;
    padding: 0;
    background: transparent;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.bgOne {
    border-left: solid 3px #4ecdc4;
    padding: 5px!important;
    width: 100%;
    display: inline-block;
    margin: 5px 0;
    background-color: transparent;
}
.bgTwo {
    border-left: solid 3px #ff6b6b;
    padding: 5px!important;
    width: 100%;
    display: inline-block;
    margin: 5px 0;
    background-color: transparent;
}
.bgThree {
    border-left: solid 3px #ffbe71;
    padding: 5px!important;
    width: 100%;
    display: inline-block;
    margin: 5px 0;
    background-color: transparent;
}
/*--------------------fin chart2 bars --------------------------*/

.ovHide {
    overflow: hidden;
}
img.clickIcon {
    height: 30px;
    float: right;
    width: 30px;
}
.radio:last-child {
    margin: 0;
}
.radio {
    margin: 0 0 5px;
    text-align: left;
    padding-left: 20px;
}
.breadcrumb .btn-primary {
    margin-left: 30px;
}
.hiPhone {
    display: none;
}
figure.abs {
    right: 0;
    top: 0;	
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    /*background-color: whitesmoke;*/
    padding: 12px;
}
figure.abs img {
    height: 35px!important;
	width: auto;
}
.ev:before, .equity:before {
    content: attr(data-before)!important;;
    opacity: 0.5;
}
.ev:after, .equity:after {
    content: attr(data-after);
    opacity: 0.5;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-weight: bold;
}
figure img {
    height: 100%!important;
}
.breadcrumb.byePhone {
    width: auto;
    font-size: 15px;
    border: solid 2px #2879bd;
    margin-right: 70px;
    margin-bottom: 0;
    background-color: transparent;
}
.breadcrumb.byePhone .breadcrumb- {
    color: white;
}
#noExplorer {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    top: 0;
	right: 0;
	bottom: 0;
    z-index: 9999;
	display: block;
}
#noExplorer .panel {
    width: 50%;
    margin: 25%;
	font-size: 20px;
}
@media screen and (max-width: 767px) {
    .w10, .w20, .w30, .w40, .w50, .w60, .w70, .w80, .w90, .w100, .w45 {
        flex: 0 0 100%;
        padding: 5px 0;
    }
    h1 {
        font-size: 1.2em;
    }
    h2 {
        font-size: 1em;
    }
    .total input {
        border-left: none;
    }
    .panel-scroll {
        padding: 0;
    }
    .panel-body {
        display: inline-block;
    }
    .alert {
        padding: 12px 20px;
        margin: 0 -20px;
        width: calc(100% + 40px);
        flex: calc(100% + 40px);
    }
    .form-control {
        min-width: 68px;
    }
    .table-responsive {
        border: none;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .btn-primary {
        margin: 8px 0!important;
        width: 100%;
    }
    .byePhone {
        display: none;
    }
    .hiPhone {
        display: block;
        font-size: 13px;
    }
    figure.abs {
        width: auto;
    }
}
.ngtv {
    color: #c75353!important;
}
.bye {
  display: none;
}
.show {
  display: block;
  transition: all 0.5s ease;
}
.alert-warning.show {
    transition: all 0.5s ease;
    margin: 0 15px 15px 0;
    width: 50%;
    flex: inherit;
    background-color: #fcf8e3;
    opacity: 1;
    color: #8a6d3b;
}
.alert-warning.show p {
    position: relative;
    left: inherit;
    top: inherit;
    width: 100%;
}